<?xml version="1.0" encoding="ISO-8859-1" ?>
<config>
	<config-desc>Update information</config-desc>
	<servers>
		<server nick="Offical Update Server (hcc.reclamation.dk)">http://hcc.reclamation.dk/updater</server>
	</servers>
	<update_check>http://hcc.reclamation.dk/update_check/</update_check>
</config>
